@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  
  margin: 0;
  padding: 0;
  font-family: "poppins";
 
  box-sizing: border-box;
}
body {
  display: flex;
  color: white;
   width: 100%;
  overflow-x: hidden;
}

.nav {
  z-index: 100;
  background: url("/img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg");
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  box-shadow: rgba(73, 73, 72, 0.99) 0px 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.3s;
}

.n_left {
  margin-bottom: 5px;
  margin-left: 30px;
  font-family: "poppins";
  font-weight: 700;
  font-size: 1.5rem;
}

.n_left a {
  text-decoration: none;
}

.f_l {
  color: orange;
  font-size: 2rem;
}

.n_mid {
  padding: 0%;
  display: flex;
  gap: 30px;
}

.n_mid a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
}

.n_mid li a span {
  transition: 0.3s;
  color: rgb(255, 255, 255);
}

body:has(#Home:target) .nav-home span {
  color: orange;
}

body:has(#Academics:target) .nav-academics span {
  color: orange;
}

body:has(#Skills:target) .nav-skills span {
  color: orange;
}

body:has(#Projects:target) .nav-projects span {
  color: orange;
}

body:has(#Contact:target) .nav-contact span {
  color: orange;
}

body:not(:has(:target)) .nav-home span {
  color: orange;
}

.n_right {
  margin-top: 1px;
  margin-right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.n_right img {
  margin-top: 3px;
  width: 30px;
  border: solid 1px orange;
  background-color: rgb(252, 252, 252);
  border-radius: 50px;
}

.Home-sec {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg);
  scroll-margin-top: 60px;
}

.left {
  color: white;
  align-content: center;
  margin-left: 7%;
  width: 40%;
  height: 100vh;
}

.intro {
  font-size: 3.5rem;
  font-weight: 600;
}

.name {
  font-size: 3.5rem;
  font-weight: 600;
}

.name span {
  font-size: 4rem;
  color: orange;
  font-weight: 700;
}

.bio {
  font-size: 0.9rem;
  line-height: 20px;
  width: 75%;
}

.call {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  border: solid 1px orange;
  border-radius: 50px;
  line-height: 80px;
}

.right {
  width: 60%;
  height: 100vh;
}

.right img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.Academics-sec {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/545740843892.jpg);
  scroll-margin-top: 60px;
}

.Academics-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 15vh;
  flex-direction: column;
}

.Academics-title {
  padding: 3px 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid orange;
}

.Academics-card-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Academics-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  padding: 8px 40px;
  height: 18vh;
  overflow: hidden;
}

.Academics-card h3 {
  font-weight: 700;
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-align: center;
  width: 100%;
  transition: all 0.3s;
}

.Academics-card:hover h3 {
  text-align: left;
  color: orange;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  padding-left: 100px;
}

.Academics-details {
  font-size: 0.8rem;
  color: rgb(255, 255, 255);
  opacity: 0;
  height: 10vh;
  transition: all 0.15s ease;
  overflow: hidden;
  text-align: left;
  align-self: flex-start;
  width: 100%;
}

.Academics-card:hover {
  background-image: url(/img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg);
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.Academics-card:hover .Academics-details {
  max-height: 60%;
  opacity: 1;
  margin-top: 0;
  text-align: left;
  align-self: flex-start;
  padding-left: 100px;
  width: 100%;
}

.skills-sec {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/840843081452.jpg);
}

.skills-head {
  justify-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  height: 15vh;
}

.skills-title {
  padding: 3px 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid orange;
}


.skills-cards-box {
  width: 70%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  align-content: center;
  column-gap: 45px;
}

.skill-card {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform .25s ease, box-shadow .25s ease;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  color: black;
}

.skill-card:hover {
  transform: scale(1.04);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.14);
}


.skills-cards-box {
  width: 100%;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(6, 200px);
  justify-items: center;
  align-items: center;
  row-gap: 40px;
  column-gap: 10px;
}

.skill-card {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: transform .25s ease, box-shadow .25s ease;
  width: 60%;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.skill-card:hover {
  transform: scale(1.04);
  box-shadow: 0 10px 20px rgba(2, 215, 222, 0.14);
}

.card-top {
  height: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}


.card-bottom {
  padding: 10px;
  background: transparent;
  color: #ffffff;
}

.card-bottom h3 {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 1px
}

.Projects-sec {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/545740843892.jpg);
}

.Projects-head {
  justify-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  height: 12vh;
}

.Projects-title {
  padding: 3px 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid orange;
}

.Projects-cards-box {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-card {
  width: 70%;
  height: 25vh;
  display: flex;
  background: transparent;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  color: #fff;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-card:hover {
  margin-right: 20px;
  transform: scale(1.25);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
}

.project-img {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-img img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 12px;
  border: 0.5px solid beige;
}

.project-details {
  width: 40%;
  padding: 24px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-details h3 {
  color: orange;
  font-size: 1.6rem;
  margin-bottom: 10px;
  font-weight: 700;
}

.project-details p {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 16px;
}

.project-link {
  text-align: center;
  width: 40%;
  padding: 5px 5px 5px;
  border: rgb(255, 255, 255) 0.7px solid;
  color: #fff;
  border-radius: 3px;
  text-decoration: none;
  font-weight: 600;
  transition: background 0.2s, color 0.2s;
  background-image: url(/img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg);
}

.project-link:hover {
  color: orange;
  border: 0.7px solid rgb(255, 255, 0);
  padding: 5px;
  background-image: url(/img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg);
}

.Contact-sec {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 65px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/img/5739638.jpg);
  height: 95vh;
}

.Contact-head {
  justify-items: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.8rem;
  height: 12vh;
}

.Contact-title {
  padding: 3px 40px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  border-bottom: 2px solid orange;
}

.contact-first {
  color: orange;
  font-size: 3.5rem;
  font-weight: 700;
}

.Contact-cards-box {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 12vh;
}

.contact-form {
  margin-top: 7px;
  width: 35%;
  height: 67vh;
  background-color: #000;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  background-color: #1a1a1a;
  border: 1px solid #444;
  color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #888;
}

.contact-form .form-row {
  display: block;
}

.contact-form .form-row input[name="subject"] {
  width: 100%;
}

.contact-form .form-row input {
  width: calc(50% - 10px);
}

.contact-form textarea {
  flex-grow: 1;
}

.contact-form .submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.contact-form .submit-btn:hover {
  background-color: #ddd;
}

.footer {
  width: 100%;
  height: 7vh;
  background: url("img/22d0adf9-ebbf-4410-8f71-382b99fef230.jpg");
  color: #fff;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0 40px;

  left: 0;
  bottom: 0;
  z-index: 99;
  box-shadow: rgba(73, 73, 72, 0.99) 0px -5px 10px;
}

.footer-text {
  font-size: 1rem;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.scroll-up-btn {
  margin-right: 100px;
  display: flex;
  align-items: center;
  border-radius: 50px;
}
.scroll-up-btn img{
  width: 35px;
}
.scroll-up-btn:hover {
  background-color: orange;
}